streamlit>=1.23.0
xgboost
scikit-learn
matplotlib
numpy
requests
streamlit-autorefresh
pyTelegramBotAPI
python-dotenv
lightgbm
selenium
catboost
plotly
beautifulsoup4
reportlab
tensorflow
psutil
flask
fastapi
httpx
pillow
cairosvg
feedparser
